/* imports */
@import url(https://fonts.bunny.net/css?family=inter:400,500);

/* body */
body {
    margin: 0;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(33, 37, 41);
    text-align: left;
    background-color: #ffffff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
*,
::after,
::before {
    box-sizing: border-box;
}
a:-webkit-any-link {
    cursor: pointer;
}

/* section */
@media (min-width: 1200px) {
    .section-xl {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
}
@media (min-width: 992px) {
    .section-lg {
        padding: 3rem !important;
    }
}
.section {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

/* containers */
.container {
    max-width: 550px;
}
.container {
    --gutter-x: 1.5rem;
    --gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--gutter-x) * 0.5);
    padding-left: calc(var(--gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 992px) {
    .content-box-lg {
        padding: 3rem !important;
    }
}
.content-box {
    padding: 1.5rem;
}
div {
    display: block;
    unicode-bidi: isolate;
}

/* dividers */
hr.divider {
    opacity: 0.15;
    margin-top: 32px;
    margin-bottom: 32px;
}

/* animated icon */
rect.animated-rect {
    transition: fill 0.5s ease-in-out;
}

/* social */
span.social {
    margin-top: -2px;
}
a.social {
    text-decoration: none;
    margin-right: 10px;
    color: inherit;
}
svg.social {
    fill: rgba(33, 37, 41, 0.3);
    color: rgba(33, 37, 41, 0.3);
    transition: 0.5s ease-in-out;
    font-size: 18px;
}
svg.social-lg {
    margin-bottom: -1px;
    font-size: 20px;
}
svg.social-xl {
    margin-bottom: -2px;
}
svg.social:hover {
    fill: #000000 !important;
    color: #000000 !important;
}

/* font */
p {
    display: block;
    unicode-bidi: isolate;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}
p.header {
    font-weight: 500;
    margin-bottom: 8px;
}
p.muted {
    color: rgba(33, 37, 41, 0.6);
}
p.center {
    text-align: center;
}
h1.name {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 32px;
    margin-bottom: 8px;
    line-height: 1.2;
}

/* acessibility */
.high-contrast * {
    color: #000 !important; /* Force all text to black */
}
.high-contrast .social {
    color: inherit; /* Force all SVG elements to black */
    fill: inherit; /* Force all SVG elements to black */
}
button.change-contrast {
    font-size: 14px;
    color: rgba(33, 37, 41);
    border-radius: 4px;
    padding: 2px 8px;
    margin-top: -36px;
    border: 1px solid rgb(222, 223, 223);
    background-color: rgba(255, 255, 255, 0);
    float: right;
}

/* tags */
.tag-box {
    max-width: 100%;
    line-height: 30px;
    word-wrap: break-word !important;
    word-break: break-word !important;
}
.tag {
    cursor: default;
    transition: 0.5s ease-in-out;
    font-size: 14px;
    color: rgba(33, 37, 41, 0.6);
    border-radius: 4px;
    padding: 2px 8px;
    margin-bottom: 10px;
    margin-right: 8px;
    border: 1px solid rgb(222, 223, 223);
}
.tag:hover {
    color: rgb(33, 37, 41) !important;
}
.tag-dot {
    font-size: 10px;
    margin-top: -3px;
    margin-right: 5px;
}
a.tag-link {
    text-decoration: none;
    color: inherit;
}
a.tag-more-link {
    font-weight: 400;
    color: rgba(33, 37, 41, 0.6);
    font-size: 14px;
    padding: 2px;
}

/* loader */
span.loader {
    width: 16px;
    height: 16px;
    border: 2px solid rgb(203, 203, 203);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
div.loader {
    padding: 12px;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* effects */
.show {
    display: block !important;
}
.hide {
    display: none !important;
}

/* extracted inline styles */
div.heading {
    height: 32px;
    margin-bottom: 3rem;
}
a {
    color: inherit;
}

/* footer */
div.footer {
    font-size: 12px;
    margin-top: 64px;
}
